%p{ style: 'margin-top: 20px; '}
  Coming Out is a 501c3 non-profit, open-source platform for the LGBTQ community to
  %strong share and read coming out stories.
  We're working on building a big, diverse collection so that anyone can find a story they can relate to.

%p
  To learn more, get involved as a volunteer, or
  %strong share your own story,
  visit the site or follow us on Facebook.
