.header.clearfix{ style: 'margin: 20px 0;'}
  %img{ src: '/comingout-logo.png', style: 'width: 100%; max-width: 400px;' }
  &nbsp;
  %span.pull-right{ style: "color: #333; font-size: 30px; font-family: 'Permanent Marker', cursive;" } express yourself
