.row
  .col-sm-4.col-sm-push-4
    .login-callout
      %a.btn.btn-facebook.btn-large.btn-raised{ href: "/login" }
        %i.fa.fa-facebook-official
        Login to create your own!
  .col-sm-4.col-sm-pull-4
    %img{ src: '/example_1.jpg', style: 'width: 100%;'}
  .col-sm-4
    %img{ src: '/example_2.jpg', style: 'width: 100%;'}
