.login-callout
  %a.btn.btn-facebook.btn-large.btn-raised{ href: "/login" }
    %i.fa.fa-facebook-official
    Login to create your own!

.row
  .col-xs-4
    %img{ src: '/example_1.jpg', style: 'width: 100%;'}
  .col-xs-4
    %img{ src: '/example_2.jpg', style: 'width: 100%;'}
  .col-xs-4
    %img{ src: '/example_3.jpg', style: 'width: 100%;'}
