-#%a.btn.btn-facebook.btn-lg.btn-block.btn-raised{ href: "https://www.facebook.com/sharer/sharer.php?u=http://faces.comingout.space/face/#{session[:user_id]}"} Facebook!
%a.btn.btn-twitter.btn-lg.btn-block.btn-raised{ href: "http://www.twitshot.com/?url=http%3A%2F%2Ffaces.comingout.space%2F&text=Happy%20coming%20out%20day!&image=http%3A%2F%2Ffaces.comingout.space%2Fimage%2F#{session[:user_id]}&count=true&hide=true", target: '_blank'} Tweet!
%a.btn.btn-download.btn-warning.btn-lg.btn-block.btn-raised{ href: "http://faces.comingout.space/image/#{session[:user_id]}", target: '_blank' }
  Download to share
  %i.fa.fa-snapchat-ghost
  %i.fa.fa-instagram
  %i.fa.fa-facebook
