:css
  #overlay {
    position: absolute;
    top: 0;
    botton: 0;
    left: 0;
    right: 0;
    background-color: #3498db;
    width: 100%;
    height: 100%;
    z-index: 10;

  }
  .contain {
  text-align: center;
  margin-top: 2em;
  }
  .question {
    max-width: 50%;
    margin: 0 auto;
    border: 5px solid white;
    color: white;
    padding: 1em;
    font-weight: 600;
    font-size: 2em;
  }
  .identify-choice {
    border: 5px solid white;
    border-radius: 100%;
    width: 8em;
    height: 8em;
    color: white;
  }
#overlay
  .contain
    .question How do you identify?
    .row
      .col-sm-4
        .identify-choice
          Lesbian
      .col-sm-4
        .identify-choice
          Gay
      .col-sm-4
        .identify-choice
          Bi
    .row
      .col-sm-4
        .identify-choice
          Trans
      .col-sm-4
        .identify-choice
          Queer
      .col-sm-4
        .identify-choice
          Ally
